h1{
   font-size:1.3em;
}
nav{
   background-color: gray;
}
a{
   text-decoration: none;
   color: black;
}
.navbar-brand{
   padding-left: 25px;
}
.nav-item{
   border: 1px black solid;
}
.navbar-nav{
   text-align: center;
   margin-top: 10px;
   margin-bottom: -10px;
   background-color: white;
}
.div-description{
   background-color: gray;
}
